<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kszych.pms">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestActivity" />
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PackageListActivity" />
        <activity android:name=".PackageSingleActivity" />
        <activity
            android:name=".PackageModifyActivity"
            android:label="@string/title_activity_modify_package" />
        <activity
            android:name=".ScanRFIDActivity"
            android:label="@string/title_activity_scan_rfid"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PartListActivity" />
        <activity android:name=".PartSingleActivity" />
        <activity
            android:name=".PartAddActivity"
            android:noHistory="true" />
        <activity android:name=".PartSearchActivity" />
        <activity android:name=".OrderListActivity" />
        <activity android:name=".OrderModifyActivity" />
        <activity android:name=".OrderSingleActivity" />
        <activity android:name=".OrderExecuteActivity" />
        <activity android:name=".ClientListActivity" />
        <activity android:name=".ClientModifyActivity" />
        <activity android:name=".ClientSingleActivity"></activity>
    </application>

</manifest>